{{ 'section-fresh.css' | asset_url | stylesheet_tag }}

<section class="section-fresh">
    <div class="conatiner-fresh container-global">
      <img class="img-fresh" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/image_5.png?v=1680660603" alt="">
      <div class="container-text-fresh">
        <h1 class="title-fresh">A fresh look at an ancient food</h1>
        <p class="text-fresh">
          Bring the freshness of a East Mediterranean 
          classic, falafel, into your kitchen. Our 
          convenient falafel street wraps are filled 
          with honest ingredients, made from ancient 
          recipes, prepared fresh, packed carefully, 
          and sent straight to your door. Transport your
          taste buds to where these flavors all began.
          Let’s party like it's thirteen ninety-nine!
        </p>
        <img class="img-background-fresh" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/Group_21.png?v=1680660602" alt="">
      </div>
    </div>
</section>