{{ 'section-card.css' | asset_url | stylesheet_tag }}

<section class="section-card">  
      <div class="container-card-globla container-global">
        <div class="container-card">
          <div class="card-img">
            <img src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/Image_2.png?v=1680660603" alt="">
          </div>
          <div class="card-text">
            <h2 class="title-text">High quality ingredients</h2>
            <p class="text-parraf  text-parraf-box-1">
                Not to brag, but we don’t take shortcuts. We bring 
                dried chickpeas in-house and soak them ourselves 
                so that we can produce our homemade falafels and
                hummus using the most natural ingredients. 
                Combine that with our fresh selection of bell 
                peppers, lemons, red onions, and garlic cloves 
                -- and you can taste the difference. We don’t 
                cut corners, we cut fresh ingredients.
            </p>

            <p class="text-parraf-responsive">
                Not to brag, but we don’t take shortcuts.
                We bring dried chickpeas and soak them 
                ourselves so that we can make our falafels
                and hummus fresh in-house. We don’t cut corners,
                we cut fresh ingredients.
            </p>
          </div>
        </div>
        <div class="container-card box-2">
          <div class="card-img">
            <img src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/Copia_de_Image_2.png?v=1680660603" alt="">
          </div>
          <div class="card-text">
            <h2 class="title-text title-text-box-2">A meal packed with plant-based protein</h2>
            <h2 class="title-text-responsive">100% plant-based protein</h2>
            <p class="text-parraf">
                At 7.5 oz our wraps are the largest in the land. 
                With 13-16g of plant-based protein per serving 
                plus 11g of fiber, our falafels will keep you 
                feeling full and satisfied for longer. You won’t 
                need another wrap – you’ll want another wrap. 
                Take that you puny snack wraps.
            </p>
          </div>
        </div>
        <div class="container-card box-3">
          <div class="card-img">
            <img class="img-center" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/Badge.png?v=1680660602" alt="">
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/sharktank_img_1.png?v=1680660603" alt="">
          </div>
          <div class="card-text">
            <h2 class="title-text">Featured in Eat This, Not That</h2>
            <p class="text-parraf">
              "This product is rich in fiber and fully plant-based,
              while being made from whole food ingredients.
              Rich in fiber, protein, and healthy fat, it
              will keep you satisfied as a meal and give 
              you all the decadent flavors you crave when dining out!" 
            </p>
            <p class="sub-title-parraf">
              - Amy Shapiro MS, RD, CDN
            </p>
            <img class="logo-responsive" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/Copia_de_Badge.png?v=1680660602" alt="">
          </div>
        </div>
      </div>
</section>