{{ 'section-flavor.css' | asset_url | stylesheet_tag }}

<!-------------section-flavor-------------->
<section class="section-flavor">
  <!-------------container-flavor-------------->
  <div class="container-flavor container-global">
    <div class="container-text-flavor">
      <!-------------title-flavor-------------->
      <h1 class="title-flavor">
        Taste ALL the flavors.
      </h1>
      <!-------------text-flavor-------------->
      <p class="text-flavor">
            We aim to make your tastebuds feel 
            some type of way. Each wrap starts with 
            our authentic freshly made falafel patty
            and is then smothered in one of our 
            award winning spreads before being hand 
            rolled in a soft chewy whole-wheat tortilla.
      </p>
    </div>
    <!-------------cards-flavor-------------->
    <div class="container-cards-flavor">
      <div class="card-flavor card-flavor-1">
        <img
          class="img-flavor"
          src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/lemon_garlic_hummus_img_1.png?v=1680660603"
          alt="">
        <p class="title-card-flavor">Lemon Garlic Hummus</p>
        <a class="button-card-flavor" href="">
          <p>
            EXPERIENCE THE FLAVOR
          </p>
        </a>
      </div>
      <div class="card-flavor card-flavor-2">
        <img
          class="img-flavor"
          src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/caramelized_harissa_img_1.png?v=1680660603"
          alt="">
        <p class="title-card-flavor">Caramelized Harissa</p>
        <a class="button-card-flavor" href="">
          <p>
            EXPERIENCE THE FLAVOR
          </p>
        </a>
      </div>
      <div class="card-flavor card-flavor-3">
        <img
          class="img-flavor"
          src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/garden_veggie_feta_img_1.png?v=1680660603"
          alt="">
        <p class="title-card-flavor">Garden Veggie Feta</p>
        <a class="button-card-flavor" href="">
          <p>
            EXPERIENCE THE FLAVOR
          </p>
        </a>
      </div>
      <div class="card-flavor card-flavor-4">
        <img
          class="img-flavor"
          src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/spicedsweet_harissa_img_1.png?v=1680660603"
          alt="">
        <p class="title-card-flavor">Spiced-Sweet Harissa</p>
        <a class="button-card-flavor" href="">
          <p>
            EXPERIENCE THE FLAVOR
          </p>
        </a>
      </div>
    </div>
  </div>
</section>