{{ 'section-tasty.css' | asset_url | stylesheet_tag }}

<!-----------------section-tasty----------------->
<section class="section-tasty">
    <div class="container-tasty container-global">
      <!-----------------title-section-tasty----------------->
      <div class="container-title-tasty">
        <h1 class="title-tasty">Tasty-monials</h1>
        <img class="img-stars-title" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/Stars.png?v=1680660602" alt="">
      </div>
      <!-----------------slider-tasty----------------->
      <div class="swiper container-slider-tasty">
        <div class="swiper-wrapper slider-tasty">
          <!-----------------boxes-slider----------------->
          <div class="swiper-slide box-slider-tasty">
            <img class="img-slider-tasty" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/red_halo_1-2.png?v=1680660602" alt="">
            <p class="text-slider-tasty">
              I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious and healthy wraps!
            </p>
            <p class="sub-title-slider-tasty"> Uriel Felipe Munar - Miami, FL</p>
          </div>
          <div class="swiper-slide box-slider-tasty">
            <img class="img-slider-tasty" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/red_halo_1-1.png?v=1680660602" alt="">
            <p class="text-slider-tasty">
              I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So delicious!
            </p>
            <p class="sub-title-slider-tasty"> Joanne Yildirim – Los Angeles, CA</p>
          </div>
          <div class="swiper-slide box-slider-tasty">
            <img class="img-slider-tasty" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/red_halo_1-small.png?v=1680660602" alt="">
            <p class="text-slider-tasty">
              So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!
            </p>
            <p class="sub-title-slider-tasty"> Sharon Ferrara Kiefer - Detroit, MI</p>
          </div>
          <div class="swiper-slide box-slider-tasty">
            <img class="img-slider-tasty" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/red_halo_1-2.png?v=1680660602" alt="">
            <p class="text-slider-tasty">
              I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious and healthy wraps!
            </p>
            <p class="sub-title-slider-tasty"> Uriel Felipe Munar - Miami, FL</p>
          </div>
          <div class="swiper-slide box-slider-tasty">
            <img class="img-slider-tasty" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/red_halo_1-1.png?v=1680660602" alt="">
            <p class="text-slider-tasty">
              I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So delicious!
            </p>
            <p class="sub-title-slider-tasty"> Joanne Yildirim – Los Angeles, CA</p>
          </div>
        </div>
      <!-----------------paginatio-slider----------------->
      <div class="swiper-pagination"></div>
    </div>
    <!-----------------img-brackground-section----------------->
    <img class="background-image-tasty" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/Background_3d328069-0260-44c2-b65d-d4c5f0e6a310.png?v=1680704151" alt="">
  </section>