{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<!-----------section-hero-tadah----------->
<section class="hero-tadah">
    <div class="continer-hero container-global">
    <!-----------contaiener-titles----------->
    <div class="container-title-hero">
        <div class="container-text">
        <div class="container-titles">
            <h1>
            Fresh 
            Mediterranean 
            street wraps 
            falaFULL of flavor 
            </h1>
        </div>
        <!-----------buttom-hero----------->
        <a class="buttom-hero" href="">
            TRY TADAH!
        </a>
        </div>
        <!-----------img-hero----------->
        <div class="img-hero">
        <img class="img-sandwich" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/spicesweet_wrap_img.png?v=1680660604" alt="">
        <img class="img-tadah-bar" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/spicy-sweet-harissa-hummus_1.png?v=1680660603" alt="">
        <!-----------img-tadah-bar-responsive----------->
        <img class="img-tadah-bar-responsive" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/Copia_de_spicy-sweet-harissa-hummus_1.png?v=1680660602" alt="">
        </div>
        <!-----------buttom-hero-responsive----------->
        <div class="container-buttom-responsive">
        <a class="buttom-hero-responsive" href="">
            TRY THE VARIETY PACK
        </a>
        </div>
    </div>
    <!-----------background-images-hero----------->
    <img class="img-background-1" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/image_4.png?v=1680660602" alt="">
    <img class="img-background-2" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/red_halo_1.png?v=1680660602" alt="">
    </div>
</section>