{{ 'section-chick.css' | asset_url | stylesheet_tag }}

<section class="section-chick">
    <div class="container-chick container-global">

        <h1 class="title-slider-chick">‘Chick’ out what people are saying</h1>

        <!-- Slider main container -->
        <div class="swiper slider-section-chick">

            <div class="swiper-wrapper container-slider-chick">
                <!-- Slides -->
                <div class="swiper-slide box-slider-chick">
                    <p class="text-slider-chick">
                        Even if you’re far away from your favorite falafel stand, you can get your fix in a matter of minutes.”
                    </p>
                    <p class="sub-title-slider-chick">
                        - Brian Kateman 
                    </p>
                    <img class="img-slider-chick" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/entrepreneur_logo_1.png?v=1680706145" alt="">
                </div>
                <div class="swiper-slide box-slider-chick">
                    <p class="text-slider-chick">
                        “Over 25% of the business’s profits go to organizations that are actively engaged in social change”
                    </p>
                    <p class="sub-title-slider-chick">
                        - S.M. Walsh
                    </p>
                    <img class="img-slider-chick" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/heavy_logo_1.png?v=1680706145" alt="">
                </div>
                <div class="swiper-slide box-slider-chick">
                    <p class="text-slider-chick">
                        "This feels really fresh like it was made a minute ago." 
                    </p>
                    <p class="sub-title-slider-chick">
                        - Daniel Lubetzky
                    </p>
                    <img class="img-slider-chick" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/sharktank_logo_1.png?v=1680706145" alt="">
                </div>

                <div class="swiper-slide box-slider-chick">
                    <p class="text-slider-chick">
                        Even if you’re far away from your favorite falafel stand, you can get your fix in a matter of minutes.”
                    </p>
                    <p class="sub-title-slider-chick">
                        - Brian Kateman 
                    </p>
                    <img class="img-slider-chick" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/entrepreneur_logo_1.png?v=1680706145" alt="">
                </div>
                <div class="swiper-slide box-slider-chick">
                    <p class="text-slider-chick">
                        “Over 25% of the business’s profits go to organizations that are actively engaged in social change”
                    </p>
                    <p class="sub-title-slider-chick">
                        - S.M. Walsh
                    </p>
                    <img class="img-slider-chick" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/heavy_logo_1.png?v=1680706145" alt="">
                </div>
                <div class="swiper-slide box-slider-chick">
                    <p class="text-slider-chick">
                        "This feels really fresh like it was made a minute ago." 
                    </p>
                    <p class="sub-title-slider-chick">
                        - Daniel Lubetzky
                    </p>
                    <img class="img-slider-chick" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/sharktank_logo_1.png?v=1680706145" alt="">
                </div>
            </div>
    </div>

    <img class="background-image-wood" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/wood_bg_1.png?v=1680706146" alt="">
</section>