{{ 'section-variety.css' | asset_url | stylesheet_tag }}

<!--------------section-variety--------------->
<section class="section-variety">
    <!--------------cantainer-variety--------------->
    <div class="container-variety container-global">
        <!--------------image-variety--------------->
        <div class="container-img-variety">
            <img class="img-variety" src="https://cdn.shopify.com/s/files/1/0740/5309/1615/files/Wraps_Image.png?v=1680660603" alt="">
        </div>
        <!--------------text-variety--------------->
        <div class="container-text-variety">
            <h1 class="title-variety">Variety Pack</h1>
            <p class="text-variety">
            Sometimes you open the fridge for the fifth 
            time in a row and find yourself staring into 
            the abyss of your fully stocked shelves. 
            You’re not bored, you’re just tired of 
            eating boring food. You're also probably 
            indecisive like us, which is why you should 
            order ALL the flavors we have.
            </p>
            <!--------------button-variety--------------->
            <a class="button-variety" href="">
            <p>TRY THE VARIETY PACK</p>
            </a>
        </div>
    </div>
</section> 