/* ----------general-rules----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------title-and-text----------- */
.section-flavor .container-flavor .container-text-flavor {
  padding: 68px 20px 26px 20px;
  box-sizing: content-box;
  margin: auto;
  text-align: center;
  max-width: 666px;
}

.section-flavor .container-flavor .container-text-flavor .title-flavor {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  text-align: center;
  color: #2e190f;
}

.section-flavor .container-flavor .container-text-flavor .text-flavor {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

/* ----------card-flavor----------- */
.container-flavor .container-cards-flavor {
  width: 100%;
  display: flex;
}

.container-flavor .container-cards-flavor .card-flavor {
  width: calc(100% / 4);
  padding: 0 10px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-flavor .container-cards-flavor .card-flavor-1 {
  background-color: #f7d633;
}

.container-flavor .container-cards-flavor .card-flavor-2 {
  background-color: #e12843;
}

.container-flavor .container-cards-flavor .card-flavor-3 {
  background-color: #72cee8;
}

.container-flavor .container-cards-flavor .card-flavor-4 {
  background-color: #f47d34;
}

.section-flavor
  .container-flavor
  .container-cards-flavor
  .card-flavor
  .img-flavor {
  margin-top: 40px;
  max-width: 335px;
  width: 100%;
  max-height: 391px;
  object-fit: contain;
}

.container-flavor .container-cards-flavor .card-flavor .title-card-flavor {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 30px 0;
}

.container-flavor .container-cards-flavor .card-flavor .button-card-flavor {
  max-width: 275px;
  width: 100%;
  min-height: 50px;
  background: #2e190f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}


.container-flavor .container-cards-flavor .card-flavor .button-card-flavor:hover {
  background-color: #784129;
  transition: 0.5s;
}

.container-flavor .container-cards-flavor .card-flavor .button-card-flavor p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

/* ----------@meda-querys----------- */
@media (max-width: 768px) {
  .container-flavor .container-cards-flavor {
    flex-wrap: wrap;
    background-color: #e12843;
  }

  .container-flavor .container-cards-flavor .card-flavor {
    width: 50%;
    padding: 0;
  }

  .container-flavor .container-cards-flavor .card-flavor .title-card-flavor {
    padding: 0 20px;
    font-size: 20px;
  }

  .container-flavor .container-cards-flavor .card-flavor .button-card-flavor {
    max-width: 162px;
  }

  .container-flavor .container-cards-flavor .card-flavor .button-card-flavor p {
    max-width: 144px;
  }

  .section-flavor .container-flavor .container-text-flavor .title-flavor {
    font-size: 30px;
    line-height: 37px;
  }

  .section-flavor .container-flavor .container-text-flavor .text-flavor {

  }

  .section-flavor .container-flavor .container-cards-flavor .card-flavor .img-flavor {
    padding: 0 18px;
    min-height: 229px;
  }
}

@media (max-width: 380px) {
  .container-flavor .container-cards-flavor .card-flavor {
    width: 100%;
  }
}
