/*-----------general-rules-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-tadah {
    background-color: #F7D633;
    position: relative;
}

/*-----------container-hero-----------*/
.hero-tadah .continer-hero {
    max-width: 1440px;
    min-height: 772px;
    margin: auto;
}

.hero-tadah .continer-hero .container-title-hero {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding: 52px 0 0 40px;
    box-sizing: content-box;
    max-width: 1281.26px;
} 

.continer-hero .container-title-hero .container-text {
    margin-top: 101px;
    z-index: 2;
}

.continer-hero .container-title-hero .container-text .container-titles {
    max-width: 548.97px;
    width: 100%;
}

.continer-hero .container-title-hero .container-text .container-titles h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #2E190F;
    margin-bottom: 30px;
}

/*-----------buttom-hero-----------*/

.continer-hero .container-title-hero .container-text .buttom-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 284.88px;
    min-height: 59px;
    background: #E12843;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}


.continer-hero .container-title-hero .container-text .buttom-hero:hover {
    background-color: #da6173;
    transition: 0.5s;
}

/*-----------images-hero-----------*/

.continer-hero .container-title-hero .img-hero {
    display: flex;
    flex-direction: column;
    position: relative;
}

.continer-hero .container-title-hero .img-hero .img-sandwich {
    width: 100%;
    z-index: 2;
    object-fit: cover;
}

.continer-hero .container-title-hero .img-hero .img-tadah-bar{
    position: absolute;
    right: 0;
    bottom: -110px;
    z-index: 2;
}

.continer-hero .img-background-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.continer-hero .img-background-2 {
    position: absolute;
    right: 0;
    top: 108px;
    bottom: 108px;
}



/*-----------display-none-----------*/

.continer-hero .container-title-hero .container-buttom-responsive{
    display: none;
}



.continer-hero .container-title-hero .img-hero .img-tadah-bar-responsive {
    display: none;
}

/*-----------@media-querys-----------*/

@media (max-width: 960px) {
    .continer-hero .container-title-hero .container-text .container-titles h1 {
        font-size: 42px;
        line-height: 80px;
    }

    .continer-hero .container-title-hero .img-hero .img-tadah-bar {
        max-width: 380px;
    }
}


@media (max-width: 877px) {
    .continer-hero .container-title-hero .img-hero .img-tadah-bar {
        bottom: 20px;
    }
}

@media (max-width: 768px) {

    .hero-tadah .continer-hero {
        max-width: 849px;
    }

    .continer-hero .img-background-1 {
        width: 100%;
        z-index: 0;
    }

    .continer-hero .img-background-2 {
        display: none;
    }

    .hero-tadah .continer-hero .container-title-hero {
        flex-direction: column;
        padding: 40px 0 44px 0;
    }

    .continer-hero .container-title-hero .container-text {
        margin: 0;
        z-index: 2;
    }

    .continer-hero .container-title-hero .img-hero .img-tadah-bar {
        display: none;
    }

    .continer-hero .container-title-hero .img-hero {
        margin: auto;
    }

    .continer-hero .container-title-hero .img-hero .img-sandwich {
        max-width: 354px;
        min-height: 362px;
        z-index: 0;
    }

    .continer-hero .container-title-hero .container-text .container-titles {
        margin: auto;
    }

    .continer-hero .container-title-hero .img-hero .img-tadah-bar-responsive {
        display: block;
        z-index: 10;
        position: absolute;
        max-width: 368px;
        right: 0;
        bottom: -52px;
        z-index: 0;
    }

    .continer-hero .container-title-hero .img-hero .img-tadah-bar {
        bottom: -52px;
    }


    .continer-hero .container-title-hero .container-text .buttom-hero {
        display: none;
    }

    .continer-hero .container-title-hero .container-text .container-titles h1 {
        font-size: 42px;
        line-height: 51px;
        max-width: 384px;
        width: 100%;
        margin:auto;
        padding: 0 21px;
        box-sizing: content-box;
    }

    .continer-hero .container-title-hero .container-buttom-responsive {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .continer-hero .container-title-hero .buttom-hero-responsive {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 95px;   
        width: 100%;
        padding: 0 21px;
        max-width: 384px;
        min-height: 50px;
        font-family: 'Montserrat';
        font-weight: 700;
        line-height: 20px;
        color: #FFFFFF;
        background: #E12843;
        border-radius: 10px;
        text-decoration: none;
    }

    .continer-hero .container-title-hero .buttom-hero-responsive:hover {
    background-color: #da6173;
    transition: 0.5s;
    } 
}

@media (max-width: 428px) {

    .hero-tadah .continer-hero {
        overflow: hidden;
    }

    .continer-hero .img-background-1 {
        width: 100%;
        max-width: 612px;
        object-fit: cover;
        object-position: left;
        max-height: 576px;
        top: 19px;
        left: -30px;
    }

    .continer-hero .container-title-hero .img-hero {
        margin: 0;
        margin-left: auto;
    }

    .hero-tadah .continer-hero .container-title-hero {
        padding: 113px 0 44px 0;
    }

    .continer-hero .container-title-hero .container-text .container-titles h1 {
        max-width: 100%;
    }

}

@media (max-width: 370px) {
    .continer-hero .container-title-hero .container-text .container-titles h1 {
    font-size: 30px;
    }

    .continer-hero .container-title-hero .img-hero .img-tadah-bar-responsive {
        max-width: 270px;
    }

    .continer-hero .container-title-hero .buttom-hero-responsive {
        max-width: 260px;
    }
}

