* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.footer-page-food {
    background-color: #F47D34;
    min-height: 481px;
    position: relative;

}

.footer-page-food .container-footer {
    display: flex;
    justify-content: center;
}

.footer-page-food .container-footer .img-footer-left{
    position: absolute;
    left: 0;
    top: -109px;
    z-index: 3;
}

.footer-page-food .container-footer .img-footer-rigth{
    position: absolute;
    top: -153px;
    right: 0;
    z-index: 3;
}

.footer-page-food .container-footer .text-footer {
    margin-top: 42px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.footer-page-food .container-footer .title-footer {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
}

.footer-page-food .container-footer .buttom-footer{
    min-width: 277.27px;
    min-height: 50.41px;
    background-color: #F7D633;
    border-radius: 10px;
    border: none;
    margin-top: 20.59px;
    cursor: pointer;
}

.footer-page-food .container-footer .buttom-footer:hover {
    background-color: #dec02a;
    transition: 0.5s;
}


.footer-page-food .container-footer .buttom-footer a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2E190F;
}

.footer-page-food .container-footer .logos-footer{
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
    cursor: pointer;
}

.footer-page-food .container-footer .logos-footer svg:hover {
    fill: #F7D633;
    stroke: #F7D633;
    transition: 0.5s;
}

.footer-page-food .container-footer .items-footer{
    margin-top: 104px;
    max-width: 406px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-page-food .container-footer .items-footer a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-page-food .container-footer .items-footer a:hover {
    color: #F7D633;
    transition: 0.5s;
}

.footer-page-food .container-footer .copiry-footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #2E190F;
    margin-top: 28.83px;
    margin-bottom: 25.62px;
}

/* display-none */

.footer-page-food .container-footer .food-background-responsive, .img-footer-resposive{
   display: none;
}

.footer-page-food .container-footer-tadah {
    display: flex;
    justify-content: center;
}


.footer-page-food .container-footer-tadah .tadah-background {
    position: absolute;
    bottom: 0;
    min-height: 223px;
    max-width: 868px;
    width: 100%;
    object-fit: contain;
}


.footer-page-food .container-footer-tadah .food-background {
    position: absolute;
    bottom: 10.77px;
    width: 100%;
    object-fit: cover;
}

/* media-querys */

@media (max-width:1090px) {

    .footer-page-food .container-footer .img-footer-left {
       max-width: 340px;
    }

    .footer-page-food .container-footer .img-footer-rigth {
        max-width: 340px;
    }

    .footer-page-food .container-footer .text-footer {
        max-width: 350px;
    }

    .footer-page-food .container-footer-tadah .tadah-background {
        max-width: 428px;
    }
}

@media (max-width:890px) {

    .footer-page-food {
        min-height: 950px;
        margin-top: 0;
    }

    .footer-page-food .container-footer .text-footer  {
        max-width: 428px;
        margin-top: 28px;
    }

    .footer-page-food .container-footer .copiry-footer {
        margin-top: 38.83px;
    }

    .footer-page-food .container-footer .logos-footer {
        margin-top: 35px;
    }

    .footer-page-food .container-footer .items-footer {
        flex-direction: column;
        max-width: 121px;
        min-height: 174px;
        margin-top: 64px;
        text-align: center;
        margin-top: 61px;
    }

    .footer-page-food .container-footer-tadah .tadah-background {
        bottom: 308px;
        max-width: 428px;
        max-height: 110px;
    }

    .footer-page-food .container-footer .title-footer {
        font-size: 30px;
    }

    .footer-page-food .container-footer .buttom-footer {
        max-width: 388px;
        width: 100%;
        min-height: 50px;
        margin-top: 33px;
    }

    .footer-page-food .container-footer .img-footer-left {
        display: none;
    }

    .footer-page-food .container-footer .img-footer-rigth {
        display: none;
    }

    .footer-page-food .container-footer-tadah .food-background {
        display: none;
    }

    .footer-page-food .container-footer .food-background-responsive, .img-footer-resposive {
        display: block;
        position: absolute;
    }

    .footer-page-food .container-footer .food-background-responsive {
        width: 100%;
        max-width: 1054px;
        object-fit: cover;
        min-height: 186px;
    }

    .footer-page-food .container-footer .img-footer-resposive-left {
        bottom: 0;
        left: 0;
    }

    .footer-page-food .container-footer .img-footer-resposive-rigth {
        bottom: 0;
        right: 0;
    }

}

@media (max-width:380px)  {
    .footer-page-food {
        min-height: 860px;
    }

    .footer-page-food .container-footer-tadah .tadah-background {
        padding: 20px;
    }

    .footer-page-food .container-footer .text-footer {
        margin: 20px;
    }

    .footer-page-food .container-footer .img-footer-resposive-rigth {
        max-width: 170px;
    }

    .footer-page-food .container-footer .img-footer-resposive-left {
        max-width: 160px;
    }
}








